
table {
    width: 400px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:  rgb(233, 224, 228);
}
tbody {
    width: 100%;
}

.account-list {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.account-list:hover {
    background-color: #454444;
}
.icon {
    width: 50px; /* Điều chỉnh kích thước của icon */
    height: 50px; /* Điều chỉnh kích thước của icon */
    border: 2px solid #000; /* Điều chỉnh độ dày và màu sắc của viền */
    border-radius: 20%; /* Làm viền của icon tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 244, 4);
    color: #000;
}
.icon-custom {
    width: 50px; /* Điều chỉnh kích thước của icon */
    height: 50px; /* Điều chỉnh kích thước của icon */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
p{
    margin: 0 0 0;
}
.note {
    font-size: 0.75em;
    font-weight: 100;
    color: #989292;
}

.currency {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.close {
    cursor: pointer;
    color: red;
}