.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 100%;
    gap: 20px;
    padding: 20px;
    color: white;
}

.title {
    font-size: medium;
    font-weight: 300;
}


.tr-fee {
    text-align: center;
    /* Căn giữa các phần tử */
    align-items: center;
    width: 30%;
}

.date-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-month-picker .mat-calendar-period-button {
    display: none;
  }
  .example-month-picker .mat-calendar-next-button,
  .example-month-picker .mat-calendar-previous-button {
    display: none;
  }
  