<h2 mat-dialog-title>
    <div style="display: inline-flex; justify-content: end; width: 62%;">
        Nhập số tiền
    </div>
    <div style="display: inline-flex; justify-content: end; width: 30%;">
        <i class="fas fa-times close" (click)="close()"></i>
    </div>
</h2>
<form>
    <mat-form-field appearance="fill" class="note-input">
        <i matPrefix (click)="selectAccount()"
            [class]="(accountTransfer.id != 0)?(accountTransfer.iconName+' selected-account'):'fas fa-money-check'"></i>
        <input matInput
            [value]="(cal == '')?(current_value|numberFormat):((pre_value|numberFormat)+cal+(current_value|numberFormat))"
            readonly="true">
    </mat-form-field>
    <!-- Input ghi chú -->
    <mat-form-field appearance="fill" class="note-input">
        <mat-label>Ghi chú</mat-label>
        <input matInput [(ngModel)]="note" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-grid-list cols="4" rowHeight="30px" gutterSize="5px" class="number-list">
        <mat-grid-tile *ngFor="let number of numbers" class="custom-clr" (click)="evt_handle(number)">
            <div [ngSwitch]="number">
                <div *ngSwitchCase="'date'">
                    <input matInput [matDatepicker]="picker" [hidden]="true">
                    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker panelClass="toggle"></mat-datepicker>
                </div>
                <div *ngSwitchCase="'x'"> <i class="far fa-trash-alt"></i></div>
                <div *ngSwitchCase="'ok'">
                    <i *ngIf="pre_value == ''" class="fas fa-check"></i>
                    <i *ngIf="pre_value != ''" class="fas fa-equals"></i>
                </div>
                <div *ngSwitchCase="'+'"> +</div>
                <div *ngSwitchCase="'-'"> -</div>
                <div *ngSwitchDefault> {{number}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>